.Cardiv{
    width:200px;
    height: 350px;
}
.photo{
    height:300px;
}
.parraf{
    color:floralwhite;
    width: 90%;
    list-style: none;
    text-decoration: none;
}
.text{
    font-size: 22px;
}

.letter{
    list-style: none;
    text-decoration: none;
    color: floralwhite;
}
.letter:hover{
    color: #a56606;
}