div.card.xx{
  height: 350px;
  width: 370px;
 
}
.card-img-top{
  height: 60%;
}
.height{
  height: 350px;


}
.master{
  display:flex;
  flex-direction: row ;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}