@import url("https://fonts.googleapis.com/css2?family=Unbounded&display=swap");

*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
  background-color: #2b2b2b;

  font-family: 'Unbounded', cursive;
}
.AboutMe{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center ;
}
.height{
  height: 80%;
  
}
#header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  list-style: none;
  background-color: #2b2b2b;
  color: floralwhite;

}
.ulHeader a {
  list-style: none;
  text-decoration: none;
  color:floralwhite
}
.HoverBlack:hover {
  color: #a56606;
}
.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;

}
.border{
  border: 2px solid #b2b2b2 !important;
}
h4{
  margin: 0px !important; 
}
p{
  margin: 0px !important; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s cubic-bezier(0.5,-2.36, 0.5, 2.35);
    position: relative;
    bottom: 60px;
  }
}
.App-header {
  background-color: #2b2b2b;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 250px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.name {
  position: relative;
  bottom: 280px;
  background-color: transparent;
}

.jeje:hover {
  color: red;
  background-color: red;
}

.text {
  position: relative;
  bottom: 240px;
  background-color: transparent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(900deg);
  }
}

.Color{
  color:floralwhite;
  line-height:2;
  font-size: 1.2rem;
  
}
.flexin{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.position {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.slider {
  width: 65vw;
  

  overflow: hidden;
  display: flex;
  align-items: center;
}

.slider .slide-track {
  display: flex;
  animation: scroll 20s linear infinite;
  -webkit-animation: scroll 20s linear infinite;
  width: calc(120px * 22); 
}

.slider .slide {
  width: 200px;
}

@keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(calc(-120px * 11));
      transform: translateX(calc(-120px * 11));
  }
}

.Skills{
  height: 100vh;
  display: flex;
  
}


.icon{
  font-size: 70px;
  color:floralwhite;
}
.iconxx{
  font-size: 30px;
  color:floralwhite;
  padding-left: 5px;
  padding-top: 5px;

  padding-right: 5px;

}
.SkillText{

  color:floralwhite;
}

.SkillTexto{
  
  color:floralwhite;
}
.PB{
  color: floralwhite;
  padding-top: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vh;
  
}

.whitecolor{
  color: floralwhite;
  padding-left: 10px;
}
.whitecolorx{
  color: floralwhite;
}
.whitecolorx:hover{
  color:#a56606
}
.asd{ color: #2b2b2b}
.alto{
  font-size: 50px;
}
.estilizando{
  padding-bottom:95px
}
.estilizando2{
  padding-top: 55px;
}
.asdxx{
  color:#a56606;
}
.master{
  display: flex;
  justify-content: space-around;
  gap:20px;
  flex-wrap: wrap;

}
.sectionX{
  height: 100%;
 display:flex;
align-items: center;
 flex-direction: column;
 justify-content: center;

  
    
}
.paddij{
  padding-top: 50px;
  padding-bottom: 40px;
}
.none{
  text-decoration: none;
  color:#a56606;
}